@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
::selection{
  color: #000;
  background: #fff;
}
nav{
  position: fixed;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
  padding-top: 0px;
  
}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  padding-right: 110px;
  font-weight: bold;

}
.logo{
  padding-top: 70px;
  margin-left: 0px;
}
.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.menu ul{
  display: inline-flex;
  
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: burlywood;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 5px;
  margin-bottom: 0.1px;
  
}
.menu ul li a:hover{
  background: #fff;
  color: black;
}
#element-with-background-image{
  background-image: linear-gradient(rgba(0, 217, 255, 0.7),rgba(1, 2, 19, 0.7)),url('img/AdobeStock_408488925.jpeg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top;
  position: relative;


  
}

.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  
}


.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  padding-left: 100px;
}
.center .title{
  color: bisque;
  font-size: 55px;
  font-weight: bold;
  padding-top: 130px;
  
}
.sub-title {
  color: rgb(30, 191, 255);
  font-family: 'Times New Roman', Times, serif;

}

.center .btns{
  margin-top: 20px;
}
.center .btns button{
  height: 40px;
  width: 170px;
  border-radius: 40px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 15px;
  font-weight: 450;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.center .btns button:first-child{
  color: #fff;
  background: none;
}
.btns button:first-child:hover{
  background: white;
  color: blue;
}
.center .btns button:last-child{
  background: white;
  color: blue;
}

.title1{
  align-content: center;
}
#bottom {
  position: absolute;
  bottom: 30;
  right: 0;
  padding-right: 105px;
  font-weight: bold;
  color: #fff;
  
}

#bottom p{
  color: darkturquoise;
  position: relative;
  text-align: end;
}

